*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    font-family: "roboto", sans-serif;
    font-size: 16px;
    color:rgb(15, 15, 15);
    background-color:  rgb(237 239 239);
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 800px;

}

.flex {
    display: flex;
}
.main__header{
    padding: 115px 0 62px;}

.main__header_content {
    display: flex;
    padding-bottom: 16px;
}

.main__header_content_title{
    color: rgb(48 132 198);
    font-size: 42px;
    font-weight: normal;
}

.main__header_content_logo{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 6px;
}
.header_task_count{
    opacity: 0.4;
    font-size:24px
}
.create{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.create_button{
    background-color: rgb(48 132 198);
    border: none;
    margin-left: 16px;
    width: 95px;
    color: white;
}
.create_button:hover{
    background-color: rgb(128, 197, 250);
    color: white;
}
.create_new_task{
    width: 100%;
    padding:16px;
    border: 1px solid rgb(192, 196, 196);
}

.create_new_task:hover{
    border: 1px solid rgb(25, 26, 26);
}

.succes_mesage{
    padding:8px 0;
    text-align: center;
    display: block;
    color:rgb(1, 12, 4);
    background-color: rgba(113, 202, 125, 0.342);
    font-size: 18px;
    margin: 15px 0;
    width: 100%;
    display: none;
}

.main__card{
    width: 100%;
    min-height: 100vh;
    padding:50px 16px 0 16px;
    box-shadow: 0 4px 38px rgb(9 64 103 / 12%);
    background-color: white;
}

.main__card_items{
    color:rgb(48 132 198);
    text-align: center;
}

.main__card_item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(192, 196, 196);
    padding: 14px;
    background-color: white;
    margin:10px 0;

}
.card_item:first-child{
    margin-top: 3px;
}
.card_item:nth-child(2){
    margin-left: 15px;
}

.card__item_text{
    color:red;
    font-size: 42px;
}
.complated{
    color:rgb(39 118 176);
    padding: 15px 0;
}
.complated__task_button{
    display: none;
}

.complated_arrow{
    height: 14px;
    width: 14px;
    margin: 3px 0 0 5px;
}

.complated_items_toggle{
    display: none;
}

.complated_arrow_rotate{
    transform: rotate(180deg);
}

.complated_task{
    text-decoration: line-through;
}

.card_item_second:first-child{
    padding:6px;
    border-radius: 6px;
    color:rgb(48 132 198);
    border:1px solid rgb(4, 140, 245);
    background-color: #fff;

}
.main__card_item_edit{
    border:none;
}
.card_item_second:first-child:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(197, 226, 248);
    border:1px solid rgb(4, 140, 245);

}

.card_item_second:last-child{
    padding:6px;
    border-radius: 6px;
    color:rgb(230, 70, 70);
    border:1px solid rgb(230, 70, 70);
    background-color: #fff;
}

.card_item_second:last-child:hover{
    padding:6px;
    border-radius: 6px;
    color:#fff;
    border:1px solid gb(230, 70, 70)r;
    background-color: rgb(247, 128, 128);

}
.modal_header{
    margin: 0.5rem 0;
}
.modal__form_item{
    margin:0.5rem 0;
}

.modal_title{
    border: 1px solid rgb(204, 204, 204);
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

.modal__form_image, .confirm_modal_form_image{
    position: absolute;
    width: 20px;
    height: 20px;
    top:0;
    right: 0;
    border-radius: 6px;
}

.modal{
    position: relative;
    text-align: center;
    position: fixed;
    top:20%;
    left: calc(50% - 305px);
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    display: none;
}

.modal__form_title{
    padding: 0 16px 16px;
    color:rgb(58, 60, 61);
    font-size: 24px;
}
.confirm__modal{
    position: relative;
    text-align: center;
    position: fixed;
    top:20%;
    left: calc(50% - 208px);
    max-width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    display: none;
}

.confirm__modal_task_text {
    font-style: italic;
    color: #181ca1b5;
}
.confirm__modal_question{
    padding: 0 24px 24px;
    color:rgb(58, 60, 61);
    font-size: 18px;
}
.modal_buttons{
    padding-top: 10px;
}

.button_confirm_close, .button_close{
    padding: 2px;
    margin-right: 5px;
    color: rgb(58, 60, 61);
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
    width: 56px;
    border: 1px solid rgb(168, 168, 168);
}
.button_confirm_yes, .button_save {
    padding: 2px;
    margin-right: 5px;
    color: rgb(58, 60, 61);
    background-color: rgba(4, 140, 245, .3);
    border-radius: 5px;
    width: 56px;
    border: 1px solid rgba(4, 140, 245, .3);
}


.button_confirm_close:hover, .button_close:hover{
    background-color: rgb(226, 226, 226);

}

.button_confirm_yes:hover, .button_save:hover {
    background-color: rgba(107, 183, 241, 0.3);
}

.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
}